.toboggan-unified {
    #login-message {
        display: none;
    }
    #login-links {
        text-align: left;
        border-bottom: 1px solid $border-color;
        margin-bottom: 15px;
        line-height: normal;
        a {
            font-size: 14px;
            text-decoration: none;
            border: none;
            display: inline-block;
            padding: 5px 10px 0 10px;
            border: 1px solid $border-color;
            border-bottom: none;
            border-radius: 5px 5px 0 0;
            line-height: 1.7;
            &.lt-active, &.lt-active:hover {
                border: 1px solid $border-color;
                border-bottom: none;
                margin-bottom: -1px;
                padding-bottom: 1px;
                background: #fff;
                color: $body-link-active;
            }
            &:hover {
                background: #eee;
                color: $body-link-active;   
            }
        }
    }
}